<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.description %></h2>



<%= link_to "Search restaurants in #{@restaurant.city}", restaurants_path(city: @restaurant.city) %>

<% if @restaurant.is_user_favorite?(current_user.id) %>
  <%= link_to "Un-favorite", kill_restaurant_favorites_path(@restaurant), method: :post %>
<% else %>
<h3><%= link_to "Mark as favorite", restaurant_favorites_path(@restaurant), method: :create %></h3>
<% end %>


<p>
<% if @restaurant.gluten_free? %>

  <%= image_tag 'green-check.png' %> 100% gluten free

<% end %>

</p>

<p>
  Pull in stuff from google api: star rating, photo?, description
  Then put tags for vegan restaurant, 100% vegetarian, partner farms, gluten free etc
</p>